<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bienvenue chez Bakery & Pastries</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="all"/>
</head>
<body>
<!-- Navigation-->
<div th:insert="~{commons::menu}"></div>
<!-- Header-->
<div th:insert="~{commons::header}"></div>
<div class="">
    <div>
        <div th:each="product : ${products}" class="row" style="padding: 10px">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="imageProduit" th:src="@{${product.imageCatalog}}"/>
            </div>
            <div class="col-4">
                <ul style="list-style-type: none">
                    <li th:text="${product.label}" class="fw-bold">label</li>
                    <li>
                        <span th:text="${product.price}">10€00</span>
                        <span> €</span>
                    </li>
                    <br>
                    <li th:text="${product.description}">description</li>
                </ul>
            </div>
            <div class="col-4">
                <form class="d-flex" method="post" th:object="${catalogForm}" th:action="@{/catalog}">
                    <ul style="list-style-type: none">
                        <li style="padding: 10px"><input type="hidden" th:attr="name='productName'" th:value="${product.label}"></li>
                        <li style="padding: 10px"><input type="number" th:field="*{productQuantity}"></li>
                        <li style="padding: 10px"><button class="btn btn-outline-success" type="submit">Add to cart</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<div th:insert="~{commons::footer}"></div>
<!-- Scripts -->
<div th:insert="~{commons::scripts}"></div>
</body>
</html>

