<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bienvenue chez Bakery & Pastries</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="all"/>
</head>
<body>
<!-- Navigation-->
<!-- Navigation-->
<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Bakery & Pastries</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/catalog">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="orderCheck" th:action="@{/orderCheck}" method="get">
                <button class="btn btn-outline-dark" type="submit" >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${session.totalInCart}">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>

<!-- Header-->
<div th:insert="~{commons::header}"></div>
<div class="">
    <div>
        <div th:each="product : ${products}" class="row" style="padding: 10px">
            <div class="col-2"></div>
            <div class="col-2">
                <img src="imageProduit" th:src="@{${product.imageCatalog}}"/>
            </div>
            <div class="col-4">
                <ul style="list-style-type: none">
                    <li th:text="${product.label}" class="fw-bold">label</li>
                    <li>
                        <span th:text="${product.price}">10€00</span>
                        <span> €</span>
                    </li>
                    <br>
                    <li th:text="${product.description}">description</li>
                </ul>
            </div>
            <div class="col-4">
                <form class="d-flex" method="post" th:object="${catalogForm}" th:action="@{/catalog}">
                    <ul style="list-style-type: none">
                        <li style="padding: 10px"><input type="hidden" th:attr="name='productName'" th:value="${product.label}"></li>
                        <li style="padding: 10px"><input type="number" th:field="*{productQuantity}" required ></li>
                        <li style="padding: 10px"><button class="btn btn-outline-success" type="submit">Add to cart</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<div th:insert="~{commons::footer}"></div>
<!-- Scripts -->
<div th:insert="~{commons::scripts}"></div>
</body>
</html>

