<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bienvenue chez Bakery & Pastries</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="all"/>
</head>
<body>
<!-- Navigation-->
<div th:insert="~{commons::menu}"></div>
<!-- Header-->
<div th:insert="~{commons::header}"></div>
<!-- Title of the order-->
<div style="padding: 10px">
    <div class="col-3" align="right">
        <h2 class="navbar-brand" th:text="|Your cart - ${session.totalInCart} item(s)|">text</h2>
    </div>
</div>
<!-- Data of the order -->
<div class="row" style="padding: 10px">
    <div class="col-2"></div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <p class="navbar-brand">Product</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand">Quantity</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="right">Price</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="right">Total</p>
    </div>
</div>
<div th:each="element : ${session.order}" class="row" style="padding-top: 3px">
    <div class="col-2"></div>
    <div class="col-1">
        <img src="imageProduit" th:src="@{${element.product.imageOrder}}"/>
    </div>
    <div class="col-3">
        <p class="navbar-brand" th:text="${element.product.label}">label</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="center" th:text="${element.quantity}">label</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="right" th:text="${element.product.price}">label</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="right" th:text="${element.totalAmount()}">label</p>
    </div>
</div>
<div class="row navbar-brand">
    <div class="col-8" align="right">
        <p class="navbar-brand">Total</p>
    </div>
    <div class="col-1">
        <p class="navbar-brand" align="right" th:text="${session.total}">totalAmount</p>
    </div>
</div>
<div style="padding: 10px">
    <form class="row" action="checkout" th:action="@{/checkout}" method="get">
        <div class="col-8" align="right">
            <button type="submit" formaction="home" th:formaction="@{/}" class="btn btn-outline-dark">Cancel</button>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-outline-dark">Checkout</button>
        </div>
    </form>
</div>

<!-- Footer-->
<div th:insert="~{commons::footer}"></div>
<!-- Scripts -->
<div th:insert="~{commons::scripts}"></div>
</body>
</html>
