<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>B&P - Delivery address</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="all"/>
</head>

<body>
<div th:insert="~{commons::menu}"></div>
<div th:insert="~{commons::header}"></div>
<!-- Title of the order-->
<div style="padding: 10px">
    <div class="col-3" align="right">
        <h2 class="navbar-brand">Create an account</h2>
    </div>
</div>
<div class="container col-md-8 mb-4">
    <div class="mb-4">
        <div>
            <form method="post" action="signup" th:action="@{/signup}" th:object="${signupForm}">
                
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="firstname" th:field="*{firstname}" class="form-control"/>
                            <label class="form-label" for="firstname">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="lastname" th:field="*{lastname}" class="form-control"/>
                            <label class="form-label" for="lastname">Last name</label>
                        </div>
                    </div>
                </div>
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" th:field="*{email}" class="form-control"/>
                    <label class="form-label" for="email">Email</label>
                </div>
                
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" th:field="*{password}" class="form-control"/>
                    <label class="form-label" for="password">Password</label>
                </div>
                <!-- Password input for confirmation-->
                <div class="form-outline mb-4">
                    <input type="password" id="confirmation" th:field="*{confirmation}" class="form-control"/>
                    <label class="form-label" for="confirmation">Confirm your password</label>
                </div>
                
                <!-- Text input -->
                <div class="form-outline mb-4">
                    <input type="text" id="address" th:field="*{address}" class="form-control"/>
                    <label class="form-label" for="address">Address</label>
                </div>
                <div class="row">
                    <div class="col-10" align="right">
                        <button type="submit" formaction="home" th:formaction="@{/}" class="btn btn-outline-dark">
                            Home
                        </button>
                    </div>
                    <div class="col-1" align="right">
                        <button type="reset" class="btn btn-outline-dark">
                            Cancel
                        </button>
                    </div>
                    <div class="col-1" align="right">
                        <button type="submit" class="btn btn-outline-dark">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{commons::footer}"></div>
<div th:insert="~{commons::scripts}"></div>

</body>
</html>
